<html>
<head>
<title>Feedback</title>
</head>
<body>
<h5 name="userFirstName"><%= routeCustomer.FirstName %></h5><br/>
<h5 name="userLastName"><%= routeCustomer.LastName %></h5><br/>
<h5 name="userCity"><%= routeCustomer.City %></h5></br>
<h5 name="userProvince"><%= routeCustomer.Province %></h5></br>
<h5 name="userEmailID"><%= routeCustomer.EmailID %></h5></br>
<form method="post" action="/feedback">
Your comments: <textarea rows="4" cols="50" name="userFeedback">Your comments here...</textarea><br/>
<input type="submit" value="Send feedback">
</form>
</body>
</html>