<html>
<head>
<title>Feedback</title>
</head>
<body>
<form method="post" action="/feedback">
<input type="text" name="userFirstName" value="<%= routeCustomer.FirstName %>" readonly><br/>
<input type="text" name="userLastName" value="<%= routeCustomer.LastName %>" readonly><br/>
<input type="text" name="userCity" value="<%= routeCustomer.City %>" readonly></br>
<input type="text" name="userProvince" value="<%= routeCustomer.Province %>" readonly></br>
<input type="text" name="userEmailID" value="<%= routeCustomer.EmailID %>" readonly></br>
Your comments: <textarea rows="4" cols="50" name="userFeedback">Your comments here...</textarea><br/>
<input type="submit" value="Send feedback">
</form>
</body>
</html>